@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap);

body{
    background-color: hsl(30 38% 92%);
}

.container {
    position: absolute;
    /* min-height: 610px;
    min-width: 340px; */
    height: 610px;
    width: 340px;
    margin: 3% 4%;
    padding: 0;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden; 
}

.product-pic {
    position: relative;
    width: 340px;
    height: 240px;
    object-fit: cover;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
   
    margin: 10px;
    height: 370px;
    width: 320px;
}

.info :nth-child(1){order: 2;}
.info :nth-child(2){order: 3;}
.info :nth-child(3){order: 4;}
.info :nth-child(4){order: 1;}
.info :nth-child(5){order: 5;}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    margin: 1px 2px;
    padding: 5px 10px;
    line-height: 1;
}
p {
    margin: 10px 0;
    color: hsl(228, 12%, 48%);
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: left;  
    font-size: 15px;
}

p.about{
   margin: 5px 5px 0 ;
   padding: 5px;
    line-height: 1.8;
    text-align: left;
    word-spacing: 2px;
    
}

p.name {
    margin: 10px 10px 5px ;
    padding: 5px 5px 0;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 12px;
}

.prices {
    position: relative;
   margin: 0 10px; 
   padding: 0;
    display: flex;
    
    align-items: baseline;
}



 p.new-price {
    
    color: hsl(158, 36%, 37%);
    font-size: 34px;
    font-family: 'Fraunces', serif;
}
s.old-price{
    margin: 20px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    align-self: center;
}
button  {
    background-color: hsl(158, 36%, 37%);
    border: none;
    margin: 5px 15px;
    border-radius: 8px;
    color: white;
    padding: 10px 93px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 ;
    
   
    
}
button:active{
    background-color: hsl(212, 21%, 14%)
}